<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550181087465-q6f5bpk6j7ta0ehm0btl4uo1i89vohfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550181087465-q6f5bpk6j7ta0ehm0btl4uo1i89vohfg</string>
	<key>API_KEY</key>
	<string>AIzaSyDQDu-5dIc0qUdCq9DXuA-nXjMGtU_DRbE</string>
	<key>GCM_SENDER_ID</key>
	<string>550181087465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SatoriTech.ExameniOS</string>
	<key>PROJECT_ID</key>
	<string>examenios-95e05</string>
	<key>STORAGE_BUCKET</key>
	<string>examenios-95e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550181087465:ios:524675ffa779d80c76a878</string>
</dict>
</plist>